.btn {
  cursor: pointer;
  padding: 15px 40px;
  font-size: clamp(0.875rem, 0.792rem + 0.231vw, 1rem);
  color: var(--Color-White);
  border-radius: 255px;
  border: 0px;

  &:hover {
    filter: brightness(1.1);
  }
}
