@import "./reset.scss";
@import "./typography.scss";
@import "./button.scss";
:root {
  --Color-White: #ffffff;
  --Color-White50: rgba(255, 255, 255, 0.5);
  --Color-Black: #000000;
  --Color-Orange: #e3512a;
  --Color-Salmon: #eadece;
  --Color-Dark-Green: #2a645c;
}

body {
  background-color: var(--Color-Salmon);
}
