.container {
  background-color: var(--Color-Salmon);
  width: 100%;
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: sticky;
  top: 0px;
}

@media (width<=992px) {
  .container {
    position: fixed;
    top: 0px;
    left: 0px;
  }
  @media (width<=768px) {
    .container {
      position: fixed;
      top: 0px;
      left: 0px;
    }
  }
  @media (width<=576px) {
    .container {
      position: fixed;
      top: 0px;
      left: 0px;
    }
  }
}
